body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    background-image: url('src/logo.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  header {
    background-color: rgb(140, 181, 223);
    padding: 20px;
    color: white;
    text-align: center;
    position: relative;
  }

  header h1 {
    margin: 0;
  }

  .logo-container {
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 100px;
    /* height:100%; */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  }

  .logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .container {
    display: flex;
    max-width: 1280px;
    margin: 20px auto;
    height: 80vh;
    width: 90%;
  }

  .sidebar-container {
    flex: 1;
    position: relative;
    max-width: 20%;
    height: fit-content;
    z-index: 1;
    margin-right: 20px;
    border-radius: 10px;
    background-color: rgb(67, 144, 223);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: max-width 0.4s;
    overflow-y: auto;
  }

  .main-content {
    flex: 3;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    height: 100%;
  }

  .map-container {
    width: 100%;
    height: 100%;
  }

  .sidebar {
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  
  .sidebar h2 {
    margin-top: 0;
  }

  .sidebar form {
    margin-top: 20px;
  }

  .sidebar label {
    display: block;
    margin-bottom: 5px;
  }

  .sidebar input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .sidebar button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: rgb(67, 144, 223);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .sidebar button:hover {
    background-color: rgb(47, 124, 203);
  }

  @media only screen and (max-width: 768px) {
    .container {
      flex-direction: column;
    }

    .sidebar-container {
      max-width: 100%;
      margin-bottom: 20px;
    }
  }
